streamlit==1.12.0  # Update based on your current version of Streamlit
pandas  # Update based on your current version of Pandas
numpy  # Update based on your current version of NumPy
pymongo  # MongoDB client for Python
bcrypt # For password hashing
email-validator  # For email validation
smtplib  # This is part of Python's standard library, no need to add it explicitly
authlib  # For OAuth2 authentication


# maybe use mongodb, if you dont need to scale
# if you need to scale, and need a server. 